<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

    <script>
        var today = new Date();
        $(document).ready(function() {
           $("#countx").val($("tr[name=cardissuer]").length + "개");


           //정렬
           $('th').each(function (column) {
             $(this).click(function() {
                     if($(this).is('.descend')) {
                         $(this).removeClass('descend');
                         $(this).addClass('ascend');
                         sortdir=1;
                     } else {
                        $(this).addClass('descend');
                        $(this).removeClass('acend');
                        sortdir=-11;
                     }
                     $(this).siblings().removeClass('ascend');
                     $(this).siblings().removeClass('descend');

                    var rec = $('table').find('tbody>tr').get();
                    rec.sort(function (a, b) {
                         var val1 = $(a).children('td').eq(column).text().toUpperCase();
                         var val2 = $(b).children('td').eq(column).text().toUpperCase();
                         return (val1 < val2)?-sortdir:(val1>val2)?sortdir:0;
                    });
                    $.each(rec, function(index, row) {
                         $('tbody').append(row);
                      });
                });
            });

        });




      </script>

  </head>
  <body>
    <% include ../partials/nav %>




    <div class="container contact contact-index">
      <h2>Card Issuer List</h2>

      <div>
        <!-- <a class="btn btn-default" href="/CreditCardIssuerList">Card List</a> -->
        <a class="btn btn-default" href="/CreditCardIssuerList/new">Create New Card Issuer</a>
        <input class="form-control" type="text" id="countx" name="countx" style="width:200px"  disabled >

      </div>




      <table border="1"  >
        <thead>

          <th style="text-align: center" style="width:100px">발급사</th>
          <th style="text-align: center" style="width:100px">금액  </th>
          <th style="text-align: center" style="width:100px" >사용기간   </th>
          <th style="text-align: center" style="width:100px">유지기간    </th>
          <th style="text-align: center" style="width:100px">해지/대기   </th>
          <th style="text-align: center" style="width:200px">비고    </th>

        </thead>

        <tbody id="tablebody">

        <% CreditCardIssuerList.forEach(function(CreditCardIssuerList) { %>
               <tr style="text-align: center" style="width:100px"  name="cardissuer">
              <td>
                    <a href="/CreditCardIssuerList/<%= CreditCardIssuerList._id %>"><%= CreditCardIssuerList.issuer %></a>
              </td>
              <td style="width:100px"><%= CreditCardIssuerList.amount %> 만원  </td>
              <td style="width:100px"><%= CreditCardIssuerList.cost_period %>  </td>
              <td style="width:100px"><%= CreditCardIssuerList.holding %>  </td>
              <td style="width:100px"><%= CreditCardIssuerList.waiting %>  </td>
              <td style="width:200px"><%= CreditCardIssuerList.comments %>  </td>

            </tr>
        <% }) %>
      </tbody>

    </table>

    </div>





  </body>
</html>
